
<div class="" id="About">
    <div ng-include="'NgApp/Home/Views/Partials/About.html'"></div>
</div>
<div class="container-fluid " id="Services">
    <div ng-include="'NgApp/Home/Views/Partials/products.html'"></div>
</div>
<div class="container-fluid" id="Skills">
    <div ng-include="'NgApp/Home/Views/Partials/Skills.html'"></div>
</div>

<div class="container-fluid" id="Portfolio">
    <div ng-include="'NgApp/Home/Views/Partials/Portfolio.html'"></div>
</div>

<div class="container-fluid" id="Projects">
    <div ng-include="'NgApp/Home/Views/Partials/Projects.html'"></div>
</div>

<div class="container-fluid  margin-top-lg margin-bottom" id="Testimonial" ng-style="materialBack">
    <div ng-include="'NgApp/Home/Views/Partials/Testimonial.html'"></div>
</div>

<div class="container-fluid" id="Clients">
    <div ng-include="'NgApp/Home/Views/Partials/Clients.html'"></div>
</div>

<div class="container-fluid bg-full" ng-style="cardStyle" id="Blog">
    <div ng-include="'NgApp/Home/Views/Partials/Blogs.html'"></div>
</div>

<div class="container-fluid" id="Contact">
    <div ng-include="'NgApp/Home/Views/Partials/Contact.html'"></div>
</div>


