<div class="menu-scroll">
    <div class="menu-content">
        <a class="menu-logo" id="navbrand2" href="/#/Home">
            <h2 ng-style="headerStyle">Creative <span class="subhead">Dev</span></h2>
        </a>
        <ul class="nav" id="navLeft">
            <li class="tile">
                <a class="waves-attach waves-effect  waves-ripple mainNav"  ng-click="linkClick()"
                    ng-class="welAfter" href="#About" offset="60" du-smooth-scroll du-scrollspy><span   ng-class="textClass">About</span></a>
            </li>
            <li class="tile">
                <a class="waves-attach waves-effect  waves-ripple mainNav" ng-click="linkClick()"
                     ng-class="welAfter" href="#Services" offset="60" du-smooth-scroll du-scrollspy><span   ng-class="textClass">Services</span></a>
            </li>
            <li class="tile">
                <a class="waves-attach waves-effect  waves-ripple mainNav"  ng-click="linkClick()"
                   ng-class="welAfter" href="#Skills" offset="60" du-smooth-scroll du-scrollspy><span ng-class="textClass">Skills</span></a>
            </li>
            <li class="tile">
                <a class="waves-attach waves-effect  waves-ripple mainNav"  ng-click="linkClick()"
                   ng-class="welAfter" href="#Portfolio" offset="60" du-smooth-scroll du-scrollspy><span   ng-class="textClass">Portfolio</span></a>
            </li>
            <li class="tile">
                <a class="waves-attach waves-effect  waves-ripple mainNav" ng-click="linkClick()"
                   ng-class="welAfter" href="#Projects" offset="60" du-smooth-scroll du-scrollspy><span   ng-class="textClass">Projects</span></a>
            </li>
            <li class="tile">
                <a class="waves-attach waves-effect   waves-ripple mainNav" ng-click="linkClick()"
                   ng-class="welAfter" href="#Testimonial" offset="60" du-smooth-scroll du-scrollspy><span   ng-class="textClass">Testimonial</span></a>
            </li>
            <li class="tile">
                <a class="waves-attach waves-effect   waves-ripple mainNav" ng-click="linkClick()"
                   ng-class="welAfter" href="#Clients" offset="60" du-smooth-scroll du-scrollspy><span   ng-class="textClass">Pricing</span></a>
            </li>
            <li class="tile">
                <a class="waves-attach waves-effect  waves-ripple mainNav menu-collapse-toggle collapsed" data-target=".ui_menu_profile_settings" 
                   data-toggle="collapse">
                    <span ng-class="textClass">Blogs</span>
                    <span class="menu-collapse-toggle collapsed" data-target=".ui_menu_profile_settings" data-toggle="collapse">                        
                        <span class="menu-collapse-toggle-default">
                            <i class="icon icon-lg">keyboard_arrow_down</i>                           
                        </span>
                    </span>
                    
                </a>
                <ul class="menu-collapse collapse ui_menu_profile_settings" id="">
                    <li class="tile padding-left-lg">
                        <a class="waves-attach  waves-effect waves-ripple" ng-click="linkClick()" href="/#/Blog/#allblog">
                           <span ng-class="textClass">Grid Blogs</span>
                        </a>
                    </li>
                    <li class="tile padding-left-lg">
                        <a class="waves-attach  waves-effect waves-ripple" ng-click="linkClick()" href="/#/BlogWithSideBar/#withSideBar">
                            <span ng-class="textClass">Blog With Sidebar</span>
                        </a>
                    </li>
                    <li class="tile padding-left-lg">
                        <a class="waves-attach  waves-effect waves-ripple" ng-click="linkClick()" href="/#/SingleBlog/#single">
                           <span ng-class="textClass">Single Blog</span>
                        </a>
                    </li>
                </ul>
           
               
            </li>
            <li class="tile">
                <a class="waves-attach waves-effect   waves-ripple mainNav" ng-click="linkClick()"
                   ng-class="welAfter" href="#Contact" offset="60" du-smooth-scroll du-scrollspy><span   ng-class="textClass">Contact</span></a>
            </li>
        </ul>
    </div>
</div>