<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-1">
            <a class="affix animated fadeInDown pull-left" id="navbrand" href="/#/Home">
                <h2 ng-style="headerStyle">Creative <span class="subhead">Dev</span></h2>
            </a>
            <a data-toggle="menu" class="hidden-lg hidden-md pull-right padding-20" href=".ui_menu">
                <span class="fa fa-bars fa-2x" ng-class="textClass"></span>
            </a>

        </div>
        <div class="col-lg-10 col-md-11 hidden-xs hidden-xx hidden-sm">
            <nav class="tab-nav pull-right  animated fadeInDown" ng-class="tabNav">
                <ul class="nav nav-list" id="navLinks">
                    <li>
                        <a class="waves-attach waves-effect   waves-ripple mainNav " ng-class="welAfter" href="/#/Home/#About" offset="60" du-smooth-scroll du-scrollspy><span ng-class="textClass">About</span></a>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect   waves-ripple mainNav" ng-class="welAfter" href="/#/Home/#Services" offset="60" du-smooth-scroll du-scrollspy><span ng-class="textClass">Services</span></a>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect   waves-ripple mainNav" ng-class="welAfter" href="/#/Home/#Skills" offset="60" du-smooth-scroll du-scrollspy><span ng-class="textClass">Skills</span></a>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect   waves-ripple mainNav" ng-class="welAfter" href="/#/Home/#Portfolio" offset="60" du-smooth-scroll du-scrollspy><span ng-class="textClass">Portfolio</span></a>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect   waves-ripple mainNav" ng-class="welAfter" href="/#/Home/#Projects" offset="60" du-smooth-scroll du-scrollspy><span ng-class="textClass">Projects</span></a>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect   waves-ripple mainNav" ng-class="welAfter" href="/#/Home/#Testimonial" offset="60" du-smooth-scroll du-scrollspy><span ng-class="textClass">Testimonial</span></a>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect   waves-ripple mainNav" ng-class="welAfter" href="/#/Home/#Clients" offset="60" du-smooth-scroll du-scrollspy><span ng-class="textClass">Pricing</span></a>
                    </li>
                    <li class="dropdown margin-right">
                        <a class="waves-attach waves-effect dropdown-toggle  waves-ripple " ng-class="welAfter" data-toggle="dropdown">
                            <span ng-class="textClass">Blogs <i class="fa fa-sort-down pull-right"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" ng-style="cardStyle">
                            <li>
                                <a class="padding-right-lg waves-attach  waves-effect waves-ripple mainNav" ng-class="welAfter" href="/#/Home/#Blog" offset="60"
                                   du-smooth-scroll du-scrollspy><span class="icon icon-lg margin-right">feedback</span><span ng-class="textClass">Show Blog</span></a>
                            </li>
                            <li>
                                <a class="padding-right-lg waves-attach  waves-effect waves-ripple" href="/#/Blog/#allblog">
                                    <span class="icon icon-lg margin-right">account_box</span><span ng-class="textClass">Grid Blogs</span>
                                </a>
                            </li>
                            <li>
                                <a class="padding-right-lg waves-attach  waves-effect waves-ripple" href="/#/BlogWithSideBar/#withSideBar">
                                    <span class="icon icon-lg margin-right">list</span><span ng-class="textClass">Blog With Sidebar</span>
                                </a>
                            </li>
                            <li>
                                <a class="padding-right-lg waves-attach  waves-effect waves-ripple" href="/#/SingleBlog/#single">
                                    <span class="icon icon-lg margin-right">add_to_photos</span><span ng-class="textClass">Single Blog</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="waves-attach waves-effect   waves-ripple mainNav" ng-class="welAfter" href="/#/Home/#Contact" offset="60" du-smooth-scroll du-scrollspy><span ng-class="textClass">Contact</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>



