<div class="content-header ui-content-header ui-dec-back">
    <div class="container">
        <div class="row row-centered padding-20 margin-bottom-lg height-190">

        </div>
    </div>
</div>
<div class="container">
    <div class="section-about section animated fadeInUp">
        <div class="section-box" ng-style="cardStyle">
            <div class="profile " id="profile">
                <div class="row row-centered">
                    <div class="col-lg-4 col-lg-offset-1  col-md-5 col-sm-5 col-xs-12 col-md-offset-0
                         col-sm-offset-0  col-xs-offset-0  col-centered ">
                        <img class="hero-image img-responsive" src="../images/users/hero.png" />
                    </div>
                    <div class="col-lg-7 col-centered col-md-7 col-sm-7
                         col-xs-12 padding-20">
                        <div class="profile-info margin-top">
                            <div class="profile-preword margin-top margin-bottom-lg">
                                <span ng-class="welAfter" ng-style="welcomeText">Hello</span>
                            </div>
                            <h1 class="profile-title">
                                <span>I'm</span>
                                Abdallah Khalil
                            </h1>
                            <h2 class="profile-position margin-top margin-bottom">Front end web developer</h2>
                            <div class="row row-centered font-14 margin-bottom-sm">
                                <div class="col-xs-12 padding-bottom-xs col-centered">
                                    <a class="" ng-class="detailClass">
                                        <i class="fa fa-map-marker" ng-class="textClass"></i> 4552,Tanta,Gharbia,Egypt
                                    </a>
                                </div>
                                <div class="col-xs-12 padding-bottom-xs col-centered">
                                    <a class="" ng-class="detailClass" href="mailto:Abdallah.khalil.nada@gmail.com">
                                        <i class="fa fa-envelope" ng-class="textClass"></i> abdallah.khalil.nada@gmail.com
                                    </a>
                                </div>
                                <div class="col-xs-12 padding-bottom-xs col-centered">
                                    <a class="" ng-class="detailClass" href="tel:+201066371913">
                                        <i class="fa fa-phone-square" ng-class="textClass"></i> +201 066 371 913
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-centered">
                    <div class="col-xs-12">
                        <div class="section-txt-btn">
                            <p class="desc">
                                Hello! I’m abdallah, 24 years old . Junior Web Developer
                                specializing in front end development. Experienced with all stages of
                                the development cycle for dynamic web projects. Well-versed in numerous
                                programming languages including JavaScript, SQL, and C# .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-social" ng-style="footerStyle">
                <!-- Social Share Buttons -->
                <div ng-include="'NgApp/Common/Views/Partials/socialShare.html'"></div>
            </div>
        </div>

    </div>
</div>
