<div class="container">
    <h2 class="section-title">Blogs</h2>
    <div class="row row-centered margin-bottom-lg padding-bottom-lg  not-visible" when-visible="fadeInLeftElement">
        <slick dots="true" infinite="true" speed="2500" fade="false" slides-to-show="2" arrows="false"
               autoplay="true" touch-move="true" swipe="true" slides-to-scroll="2" responsive="vm.responsiveBlogSlik">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-centered  slide-left">
                <div class="card card-blog same-Height card-1 text-left waves-attach waves-effect waves-light" ng-style="bodyStyle">
                    <div class="card-main">
                        <div class="card-img">
                            <img alt="alt text" src="../images/Blogs/blog-1.jpg" class="img-responsive grow">
                        </div>
                        <div class="margin-bottom-sm padding-10">
                            <h2 ng-class="textClass">
                                Four Modalities of Learning
                            </h2>
                            <p>
                                <span class="entry-date pull-left" ng-class="textClass">
                                    <i class="fa fa-calendar"></i>&nbsp; 21 Aug 2015
                                </span>
                                <span class="entry-author margin-left-sm" ng-class="textClass">
                                    <i class="fa fa-user">
                                    </i>&nbsp; Jerry Rose
                                </span>
                            </p>
                        </div>
                        <div class="card-inner">
                            <p>
                                Learning modalities are the sensory channels or pathways through which individuals give, receive info
                            </p>
                        </div>
                        <div class="padding-10 margin-bottom pull-left">
                            <a class="btn btn-lg waves-attach waves-effect" ng-class="btnClass" href="/#/Blog/#gridMas">
                                Read More
                            </a>
                        </div>
                        <div class="padding-10 margin-bottom pull-right">
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-commenting-o"></i></a>
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa   fa-lg margin-top-sm fa-heart"></i></a>
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa   fa-lg margin-top-sm fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-centered  slide-left">
                <div class="card card-blog same-Height card-1 text-left waves-attach  waves-effect waves-light" ng-style="bodyStyle">
                    <div class="card-main">
                        <div class="card-img">
                            <img alt="alt text" src="../images/Blogs/blog-2.jpg" class="img-responsive grow">
                        </div>
                        <div class="margin-bottom-sm padding-10">
                            <h2 ng-class="textClass">
                                Learning Material Design
                            </h2>
                            <p>
                                <span class="entry-date pull-left" ng-class="textClass">
                                    <i class="fa fa-calendar"></i>&nbsp; 25 Sep 2015
                                </span>
                                <span class="entry-author margin-left-sm" ng-class="textClass">
                                    <i class="fa fa-user">
                                    </i>&nbsp; Dorry Allen
                                </span>
                            </p>
                        </div>
                        <div class="card-inner">
                            <p>
                                Learning Material Design  are the sensory channels or pathways through which individuals give, receive info
                            </p>
                        </div>
                        <div class="padding-10 margin-bottom pull-left">
                            <a class="btn btn-lg waves-attach waves-effect" ng-class="btnClass" href="/#/Blog/#gridMas">
                                Read More
                            </a>
                        </div>
                        <div class="padding-10 margin-bottom pull-right">
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-commenting-o"></i></a>
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-heart"></i></a>
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-centered  slide-left">
                <div class="card card-blog same-Height card-1 text-left waves-attach  waves-effect waves-light" ng-style="bodyStyle">
                    <div class="card-main">
                        <div class="card-img">
                            <img alt="alt text" src="../images/Blogs/blog-3.jpg" class="img-responsive grow">
                        </div>
                        <div class="margin-bottom-sm padding-10">
                            <h2 ng-class="textClass">
                                Loving the True Movie Story
                            </h2>
                            <p>
                                <span class="entry-date pull-left" ng-class="textClass">
                                    <i class="fa fa-calendar"></i>&nbsp; 11 Nov 2015
                                </span>
                                <span class="entry-author margin-left-sm" ng-class="textClass">
                                    <i class="fa fa-user" ng-class="textClass">
                                    </i>&nbsp; Adam Snder
                                </span>
                            </p>
                        </div>
                        <div class="card-inner">
                            <p>
                                Loving the True are the sensory channels or pathways through which individuals give, receive info
                            </p>
                        </div>
                        <div class="padding-10 margin-bottom pull-left">
                            <a class="btn btn-lg waves-attach waves-effect" ng-class="btnClass" href="/#/Blog/#gridMas">
                                Read More
                            </a>
                        </div>
                        <div class="padding-10 margin-bottom pull-right">
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-commenting-o"></i></a>
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-heart"></i></a>
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-centered  slide-left">
                <div class="card card-blog same-Height card-1 text-left waves-attach  waves-effect waves-light" ng-style="bodyStyle">
                    <div class="card-main">
                        <div class="card-img">
                            <img alt="alt text" src="../images/Blogs/blog-4.jpg" class="img-responsive grow">
                        </div>
                        <div class="margin-bottom-sm padding-10">
                            <h2 ng-class="textClass">
                                the foundation of creative
                            </h2>
                            <p>
                                <span class="entry-date pull-left" ng-class="textClass">
                                    <i class="fa fa-calendar"></i>&nbsp; 18 May 2015
                                </span>
                                <span class="entry-author margin-left-sm" ng-class="textClass">
                                    <i class="fa fa-user">
                                    </i>&nbsp; sam klerk
                                </span>
                            </p>
                        </div>
                        <div class="card-inner">
                            <p>
                                Creative div Learning path is awesome  channels or pathways through which individuals give, receive info
                            </p>
                        </div>
                        <div class="padding-10 margin-bottom pull-left">
                            <a class="btn btn-lg waves-attach waves-effect" href="/#/Blog/#gridMas" ng-class="btnClass">
                                Read More
                            </a>
                        </div>
                        <div class="padding-10 margin-bottom pull-right">
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-commenting-o"></i></a>
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-heart"></i></a>
                            <a href="/#/Blog/#gridMas" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-share-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </slick>
    </div>
</div>