<!-- services Partials-->
<div class="container">
    <h2 class="section-title">Services</h2>
    <div class="row">        
            <div class="col-md-4 col-lg-4  col-sm-6 col-xs-12 margin-top  padding-bottom-sm padding-top-sm padding-right-sm padding-left-sm">
                <div class="card-1 text-center  waves-attach waves-effect waves-ripple prod-card not-visible" ng-class="cardClass"
                     delay-percent="0.70" ng-style="borderBottomStyle" when-visible="animateElementIn">
                    <i class="fa fa-2x fa-star ic-show" ng-style="iconStyle"></i>
                    <h3 class="text-center" translate-cloak ng-class="textClass">
                        WEB DESIGN
                    </h3>
                    <div class="description">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-lg-4  col-sm-6 col-xs-12 margin-top padding-bottom-sm padding-top-sm padding-right-sm padding-left-sm">
                <div class="card-1 text-center   waves-attach waves-effect waves-ripple prod-card not-visible" ng-class="cardClass"
                     delay-percent="0.70" ng-style="borderBottomStyle" when-visible="animateElementIn">
                    <i class="fa fa-2x fa-clipboard ic-show" ng-style="iconStyle"></i>
                    <h3 class="text-center " ng-class="textClass">
                        WEB DEVELOPMENT
                    </h3>
                    <div class="description">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4  col-sm-6 col-xs-12 margin-top padding-bottom-sm padding-top-sm padding-right-sm padding-left-sm">
                <div class="card-1 text-center   waves-attach waves-effect waves-ripple prod-card not-visible" ng-class="cardClass"
                     delay-percent="0.70" ng-style="borderBottomStyle" when-visible="animateElementIn">
                    <i class="fa fa-2x fa-star ic-show" ng-style="iconStyle"></i>
                    <h3 class="text-center " ng-class="textClass">
                        SEO SERVICES
                    </h3>
                    <div class="description">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4  col-sm-6 col-xs-12 margin-top padding-bottom-sm padding-top-sm padding-right-sm padding-left-sm">
                <div class="card-1 text-center   waves-attach waves-effect waves-ripple prod-card not-visible" ng-class="cardClass"
                     delay-percent="0.70" ng-style="borderBottomStyle" when-visible="animateElementIn">
                    <i class="fa fa-2x fa-heart ic-show" ng-style="iconStyle"> </i>
                    <h3 class="text-center " ng-class="textClass">
                        SOCIAL MEDIA
                    </h3>
                    <div class="description">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4  col-sm-6 col-xs-12 margin-top padding-bottom-sm padding-top-sm padding-right-sm padding-left-sm">
                <div class="card-1 text-center   waves-attach waves-effect waves-ripple prod-card not-visible" ng-class="cardClass"
                     delay-percent="0.70" ng-style="borderBottomStyle" when-visible="animateElementIn">
                    <i class="fa fa-2x fa-shopping-cart ic-show" ng-style="iconStyle"> </i>
                    <h3 class="text-center " ng-class="textClass">
                        E-COMMERCE
                    </h3>
                    <div class="description">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4  col-sm-6 col-xs-12 margin-top padding-bottom-sm padding-top-sm padding-right-sm padding-left-sm">
                <div class="card-1 text-center   waves-attach waves-effect waves-ripple prod-card not-visible" ng-class="cardClass"
                     delay-percent="0.70" ng-style="borderBottomStyle" when-visible="animateElementIn">
                    <i class="fa fa-2x fa-heart ic-show" ng-style="iconStyle"> </i>
                    <h3 class="text-center " ng-class="textClass">
                        CLOUD SERVICES
                    </h3>
                    <div class="description">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
        
        
    </div>
</div>