<section id="skills" class="container section-skills">
    <h2 class="section-title">Professional  Skills</h2>
    <div class="section-box" ng-class="cardClass">
        <div class="row" >
            <div class="col-sm-6">
                <div class="progDiv">
                    <div class="bar-data">
                        <label class="bar-title">ASP.NET</label>
                        <label class="bar-value label " ng-class="labelClass">90%</label>
                    </div>
                    <div class="progress bar-line not-visible" when-visible="fadeInLeftElement" delay-percent="0.70" ng-class="progressStyle">
                        <div class="progress-bar" style="width: 90%"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="progDiv">
                    <div class="bar-data">
                        <label class="bar-title">HTML &amp; CSS</label>
                        <label class="bar-value label" ng-class="labelClass">89%</label>
                    </div>
                    <div class="progress bar-line not-visible" when-visible="fadeInLeftElement" delay-percent="0.70" ng-class="progressStyle">
                        <div class="progress-bar" style="width: 89%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="progDiv">
                    <div class="bar-data">
                        <label class="bar-title">JavaScript</label>
                        <label class="bar-value label" ng-class="labelClass">70%</label>
                    </div>
                    <div class="progress bar-line not-visible" when-visible="fadeInLeftElement" delay-percent="0.70" ng-class="progressStyle">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="progDiv">
                    <div class="bar-data">
                        <label class="bar-title">Angular js</label>
                        <label class="bar-value label" ng-class="labelClass">90%</label>
                    </div>
                    <div class="progress bar-line not-visible" when-visible="fadeInLeftElement" delay-percent="0.70" ng-class="progressStyle">
                        <div class="progress-bar" style="width: 90%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6">
                <div class="progDiv">
                    <div class="bar-data">
                        <label class="bar-title">Bootstrap</label>
                        <label class="bar-value label" ng-class="labelClass">95%</label>
                    </div>
                    <div class="progress bar-line not-visible" when-visible="fadeInLeftElement" delay-percent="0.70" ng-class="progressStyle">
                        <div class="progress-bar" style="width: 95%"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="progDiv">
                    <div class="bar-data">
                        <label class="bar-title">Jquery</label>
                        <label class="bar-value label" ng-class="labelClass">97%</label>
                    </div>
                    <div class="progress bar-line not-visible" when-visible="fadeInLeftElement" delay-percent="0.70" ng-class="progressStyle">
                        <div class="progress-bar" style="width: 97%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>