<div class="content-header ui-content-header ui-april-back" id="withSideBar">
    <div class="container">       
    </div>
</div>
<div class="container margin-top-lg">
    <div class="row margin-top-xl  margin-bottom-lg padding-bottom-lg">
        <div class="col-sm-8 margin-top-lg">
            <div id="gridMas" >              
                <!-- All image  Blogs From the Controller -->
                <div class="col-sm-12 col-md-6 col-xs-12 grid-item  margin-bottom-sm" ng-repeat="img in vm.imgBlogs">
                    <div class="card card-blog card-1 text-left waves-attach waves-effect waves-light not-visible" ng-style="cardStyle" when-visible="flipInYElement">
                        <div class="card-main">
                            <div class="card-img">
                                <img alt="alt text" ng-src="{{img.imageUrl}}" class="img-responsive grow">
                            </div>
                            <div class="margin-bottom-sm padding-10">
                                <h2 ng-class="textClass" class="font-30">
                                    {{img.title}}
                                </h2>
                                <p>
                                    <span class="entry-date pull-left" ng-class="textClass">
                                        <i class="fa fa-calendar"></i>&nbsp; {{img.date}}
                                    </span>
                                    <span class="entry-author margin-left-lg" ng-class="textClass">
                                        <i class="fa fa-user">
                                        </i>&nbsp; {{img.writer}}
                                    </span>
                                </p>
                            </div>
                            <div class="card-inner ">
                                <p>
                                    {{img.brief}}
                                </p>
                            </div>
                            <div class="padding-10 margin-bottom pull-left">
                                <a class="btn btn-lg waves-attach waves-effect" ng-class="btnClass" href="/#/SingleBlog">
                                    Read More
                                </a>
                            </div>
                            <div class="padding-10 margin-bottom pull-right">
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-commenting-o"></i></a>
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa   fa-lg margin-top-sm fa-heart"></i></a>
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa   fa-lg margin-top-sm fa-share-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- All vedio  Blogs From the Controller -->
                <div class="col-sm-12 col-md-6 col-xs-12 grid-item  margin-bottom-sm" ng-repeat="ved in vm.vedioBlogs">
                    <div class="card card-blog card-1 text-left waves-attach  waves-effect waves-light not-visible" ng-style="cardStyle" when-visible="flipInYElement">
                        <div class="card-main">
                            <div class="card-img">
                                <anguvideo ng-model="ved.vedioURL" width="{{ved.width}}" height="{{ved.height}}"></anguvideo>
                            </div>
                            <div class="margin-bottom-sm padding-10">
                                <h2 ng-class="textClass" class="font-30">
                                    {{ved.title}}
                                </h2>
                                <p>
                                    <span class="entry-date pull-left" ng-class="textClass">
                                        <i class="fa fa-calendar"></i>&nbsp; {{ved.date}}
                                    </span>
                                    <span class="entry-author margin-left-lg" ng-class="textClass">
                                        <i class="fa fa-user">
                                        </i>&nbsp; {{ved.writer}}
                                    </span>
                                </p>
                            </div>
                            <div class="card-inner ">
                                <p>
                                    {{ved.brief}}
                                </p>
                            </div>
                            <div class="padding-10 margin-bottom pull-left">
                                <a class="btn btn-lg waves-attach waves-effect" href="/#/SingleBlog" ng-class="btnClass">
                                    Watch More
                                </a>
                            </div>
                            <div class="padding-10 margin-bottom pull-right">
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-commenting-o"></i></a>
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-heart"></i></a>
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-share-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- All soundCloud  Blogs From the Controller -->
                <div class="col-sm-12 col-md-6 col-xs-12 grid-item  margin-bottom-sm" ng-repeat="sound in vm.soundCloudBlogs">
                    <div class="card card-blog card-1 text-left waves-attach  waves-effect waves-light not-visible" ng-style="cardStyle"
                         when-visible="flipInYElement">
                        <div class="card-main">
                            <div class="card-inner ">
                                <ng-sc-track track="sound.trackId"></ng-sc-track>
                            </div>
                            <div class="padding-10 margin-bottom pull-left">
                                <h2 ng-class="textClass" class="font-30">
                                    {{sound.title}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-sm-4 margin-top-lg "  ng-class="cardClass">
            <div class="padding-40 not-visible" when-visible="lightSpeedInElement">
                <img alt="polla" src="././././images/users/hero.png" class="right-img">
            </div>
            <div class="not-visible" when-visible="lightSpeedInElement">
                <div class="padding-left-sm" ng-class="textClass" href="javascript:void(0)">                  
                    <strong class="name">Abdallah Khalil</strong>
                    <small class="padding-top-sm margin-no job">Creative web developer</small>
                </div>
            </div>
            <div class="margin-top-lg padding-10">
                <h3 class="border-top padding-top not-visible" when-visible="lightSpeedInElement">Quick links </h3>
                <ul class="nav">
                    <li class="tile transparent not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect    waves-ripple" href="javascript:void(0)">
                            Profile Settings
                            <span class="menu-collapse-toggle collapsed" data-target=".ui_menu_profile_settings" data-toggle="collapse">
                                <span class="menu-collapse-toggle-close">
                                    <i class="icon icon-lg">close</i>
                                </span>
                                <span class="menu-collapse-toggle-default">
                                    <i class="icon icon-lg">add</i>
                                </span>
                            </span>
                        </a>
                        <ul class="menu-collapse collapse ui_menu_profile_settings" id="">
                            <li class="tile padding-left-lg transparent">
                                <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">First Item</a>
                            </li>
                            <li class="tile padding-left-lg transparent">
                                <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Another Item</a>
                            </li>
                            <li class="tile padding-left-lg transparent">
                                <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Something Else</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tile transparent not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Upload Photo</a>
                    </li>
                    <li class="tile transparent not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Log in</a>
                    </li>
                </ul>
            </div>
            <div class="margin-top">
                <div class="padding-10">
                    <form class="form-horizontal text-left form" ng-submit="vm.sendMail();" name="vm.sendMailForm" novalidate="novalidate">
                        <h3 class="border-top padding-top-lg not-visible" when-visible="lightSpeedInElement">Contact Me</h3>
                        <div class="form-group form-group-label form-group-lg not-visible" when-visible="lightSpeedInElement" ng-class="formGroupClass">
                            <label class="floating-label" for="name">Name</label>
                            <input class="form-control" name="name" type="text" ng-model="vm.mail.name" ng-required="true">
                            <div class="form-help" ng-messages="vm.sendMailForm.name.$error" ng-if="vm.sendMailForm.name.$dirty">
                                <p class="text-brand-accent" ng-message="required">Please,enter subject</p>
                            </div>
                        </div>
                        <div class="form-group form-group-label form-group-lg not-visible" when-visible="lightSpeedInElement" ng-class="formGroupClass">
                            <label class="floating-label" for="email">Email</label>
                            <input class="form-control" name="email" type="text" ng-model="vm.mail.email" ng-required="true">
                            <div class="form-help" ng-messages="vm.sendMailForm.email.$error" ng-if="vm.sendMailForm.email.$dirty">
                                <p class="text-brand-accent" ng-message="required">Please,enter your email</p>
                            </div>
                        </div>
                        <div class="form-group form-group-label form-group-lg not-visible" when-visible="lightSpeedInElement" ng-class="formGroupClass">
                            <label class="floating-label" for="subject">Subject</label>
                            <input class="form-control" name="subject" type="text" ng-model="vm.mail.subject" ng-required="true">
                            <div class="form-help" ng-messages="vm.sendMailForm.subject.$error" ng-if="vm.sendMailForm.subject.$dirty">
                                <p class="text-brand-accent" ng-message="required">Please,enter subject</p>
                            </div>
                        </div>
                        <div class="form-group form-group-label form-group-lg not-visible" when-visible="lightSpeedInElement" ng-class="formGroupClass">
                            <label class="floating-label" for="message">Message</label>
                            <textarea class="form-control" name="message" type="text" ng-model="vm.mail.message" ng-required="true" id="message" rows="3"></textarea>
                            <div class="form-help" ng-messages="vm.sendMailForm.message.$error" ng-if="vm.sendMailForm.message.$dirty">
                                <p class="text-brand-accent" ng-message="required">Please,enter Message</p>
                            </div>
                        </div>

                        <button ng-disabled="vm.sendMailForm.$invalid" type="submit" class="btn pull-right btn-lg btn-default 
                                 waves-ripple waves-attach waves-effect not-visible" when-visible="lightSpeedInElement">
                            Send
                            <i class="fa fa-send"></i>
                        </button>
                    </form>
                </div> 

            </div>
            <div class="margin-top-lg transparent padding-10 not-visible" when-visible="lightSpeedInElement">
                <h3 class="border-top padding-top">Search ...</h3>
                <input class="form-control" ng-class="searchBoxClass" type="text" name="search" placeholder="Search Text" />
                <a class="margin-top-minus pull-right" href=""><i class="fa fa-search"></i></a>
            </div>
            
            <div class="margin-top padding-10 not-visible" when-visible="lightSpeedInElement">
                <h3 class="border-top padding-top">Tags </h3>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Creative</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Web Design</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Web Development</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Bootstrap</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Material Design</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">New Themes</a>
            </div>
            <div class="margin-top-lg padding-10">
                <h3 class="border-top padding-top not-visible" when-visible="lightSpeedInElement">Recent posts </h3>
                <ul class="nav padding-10">
                    <li class="padding-10 border-top not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">How to start selling themes online</a>
                    </li>
                    <li class="padding-10 border-top not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Envato: Can selling a WordPress theme on ThemeForest become your daily income</a>
                    </li>
                    <li class="padding-10 border-top not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">The Envato knowledgebase is pretty comprehensive and gives authors guidelines</a>
                    </li>
                    <li class="padding-10 border-top not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">I assume you have the technical know-how to create templates and themes.  If not, then that's</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>

</div>


