<div class="content-header ui-content-header ui-april-back" id="single">
    <div class="container">
    </div>
</div>
<div class="container margin-top-lg">
    <div class="row margin-top-xl  margin-bottom-lg padding-bottom-lg">
        <div class="col-sm-8">
            <div class="card card-blog card-1 text-left waves-attach waves-effect waves-light" ng-style="cardStyle">
                <div class="card-main">
                    <div class="card-img">
                        <img alt="alt text" src="../images/Blogs/blog-1.jpg" class="img-responsive grow">
                    </div>
                    <div class="margin-bottom-sm padding-10 text-center not-visible" when-visible="fadeInElement">
                        <span class="text-center font-30" ng-class="textClass">
                            <i class="fa card-1 fa-calendar"></i>&nbsp; 21 Aug 2015
                        </span>
                        <h2 class="font-30 text-center">
                            Website users combine random photos to create trippy illusion
                        </h2>
                        <p class="text-center">
                            <span class="entry-author margin-left-sm" ng-class="textClass">
                                <i class="fa fa-user"></i>&nbsp;by, Jerry Rose
                            </span>
                        </p>
                    </div>
                    <div class="card-inner not-visible" when-visible="fadeInElement">
                        <p>
                            Wondering how to combine your favorite photograph and your favorite piece of art? Look no further than Russian website Ostagram and Google’s Deep Dream Generator.
                            Ostagram users have been mixing photos and art using the generator, which creates mixed images using a technique called Inceptionism. Inceptionism utilizes neural networks, which “learn” over time by taking in more data, to create these trippy pictures.
                            See some of our favorites below, and other top posts on Ostagram.
                        </p>
                        <img class="img-responsive card-3 not-visible" when-visible="fadeInElement" src="../images/Blogs/town.jpg" />
                        <blockquote class="margin-top padding-20 not-visible" when-visible="fadeInElement">
                            <i class="text-center fa fa-quote-right" ng-class="textClass"></i>
                            <p>
                                "My commute is extremely short. Just 20 steps across the apartment to my office
                                overlooking Butler St. Sometimes when I'm feeling fancy, I'll walk 2 blocks down the
                                street for coffee first. Either way, it's very convenient."<br>
                                <cite><a href="">John Doe</a> - Someone famous in Source Title</cite>
                            </p>
                        </blockquote>
                        <h2 class="padding-10 margin-top not-visible" when-visible="fadeInElement">Create a tile collapse with material design</h2>
                        <div class="tile-wrap padding-10 margin-top not-visible" when-visible="fadeInElement" >
                            <div class="tile tile-collapse" ng-style="cardStyle">
                                <div data-target=".first-tile" data-toggle="tile">
                                    <div class="tile-side pull-left" data-ignore="tile">
                                        <div class="avatar avatar-sm">
                                            <span class="icon">alarm</span>
                                        </div>
                                    </div>
                                    <div class="tile-inner">
                                        <div class="text-overflow">lorem ipsum dolor sit amet</div>
                                    </div>
                                </div>
                                <div class="tile-active-show collapse first-tile">
                                    <div class="tile-sub">
                                        <p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
                                    </div>
                                    <div class="tile-footer">
                                        <div class="tile-footer-btn pull-left">
                                            <a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
                                            <a class="btn btn-flat waves-attach" data-toggle="tile" href=".first-tile"><span class="icon">close</span>&nbsp;Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile tile-collapse waves-attach waves-effect waves-light active" ng-class="tileClass">
                                <div data-target=".second-tile" data-toggle="tile">
                                    <div class="tile-side pull-left">
                                        <div class="avatar avatar-sm avatar-brand">
                                            <span class="icon">backup</span>
                                        </div>
                                    </div>
                                    <div class="tile-inner">
                                        <div class="text-overflow">consectetur adipiscing elit</div>
                                    </div>
                                </div>
                                <div class="tile-active-show collapse in  second-tile">
                                    <div class="tile-sub">
                                        <p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
                                    </div>
                                    <div class="tile-footer">
                                        <div class="tile-footer-btn pull-left">
                                            <a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
                                            <a class="btn btn-flat waves-attach" data-toggle="tile" href=".second-tile"><span class="icon">close</span>&nbsp;Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile tile-collapse" ng-style="cardStyle">
                                <div data-target=".third-tile" data-toggle="tile">
                                    <div class="tile-side pull-left">
                                        <div class="avatar avatar-sm avatar-brand-accent">
                                            <span class="icon">launch</span>
                                        </div>
                                    </div>
                                    <div class="tile-inner">
                                        <div class="text-overflow">sed ornare orci lorem</div>
                                    </div>
                                </div>
                                <div class="tile-active-show collapse third-tile">
                                    <div class="tile-sub">
                                        <p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
                                    </div>
                                    <div class="tile-footer">
                                        <div class="tile-footer-btn pull-left">
                                            <a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;OK</a>
                                            <a class="btn btn-flat waves-attach" data-toggle="tile" href=".third-tile"><span class="icon">close</span>&nbsp;Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            Wondering how to combine your favorite photograph and your favorite piece of art? Look no further than Russian website Ostagram and Google’s Deep Dream Generator.
                            Ostagram users have been mixing photos and art using the generator, which creates mixed images using a technique called Inceptionism. Inceptionism utilizes neural networks, which “learn” over time by taking in more data, to create these trippy pictures.
                            See some of our favorites below, and other top posts on Ostagram.
                        </p>
                        <div class="profile-social" ng-style="footerStyle">
                            <div ng-include="'NgApp/Common/Views/Partials/socialShare.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding-10 margin-bottom">
                <div class="row row-centered">
                    <div class="card-1 col-sm-6 col-xs-12 margin-top waves-attach waves-effect waves-ripple not-visible" when-visible="fadeInElement" ng-style="cardStyle">
                        <a class="btn btn-lg waves-attach waves-effect margin-top-minus" ng-class="btnClass" href="">
                            <i class="fa fa-arrow-left"></i> Previous Article
                        </a>
                        <div class="margin-bottom-sm padding-10 text-center">
                            <h2 class="font-28 text-center">
                                10 angular js projects with related issue
                            </h2>
                            <p class="text-center">
                                <span class="entry-author margin-left-sm">
                                    <i class="fa fa-user">
                                    </i>&nbsp; max payne
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="card-1 col-sm-6 col-xs-12 margin-top waves-attach waves-effect waves-ripple not-visible" when-visible="fadeInElement" ng-style="cardStyle">
                        <a class="btn btn-lg waves-attach waves-effect margin-top-minus" ng-class="btnClass" href="">
                            Next Article <i class="fa fa-arrow-right"></i>
                        </a>
                        <div class="margin-bottom-sm padding-10 text-center">
                            <h2 class="font-28 text-center">
                                common mistakes that every developer do!
                            </h2>
                            <p class="text-center">
                                <span class="entry-author margin-left-sm">
                                    <i class="fa fa-user">
                                    </i>&nbsp; john rassel
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="padding-10 margin-top">
                <h3><span class="label" ng-class="labelClass">24</span> Comments</h3>
                <div class="row">
                    <div class="card-2 comment-card col-xs-12 margin-top-sm waves-attach waves-effect waves-ripple not-visible" when-visible="fadeInElement" ng-style="cardStyle">
                        <div class="col-xs-2 avatar-dev">
                            <span class="avatar avatar-inline avatar-lg">
                                <img class="img-responsive" alt="alt text" src="../images/users/avatar-001.jpg">
                            </span>
                        </div>
                        <div class="col-xs-7 comment-title">
                            <h4>Polla <small ng-class="textClass"> Says:</small></h4>
                            <p class="margin-bottom comment-date">March 25, 2015 at 07.50 am</p>
                        </div>
                        <div class="col-xs-3">
                            <div class="margin-bottom pull-right">
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-reply"></i></a>
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-hand-o-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-12 margin-left margin-top">
                            <p class="comment">
                                <i class="fa fa-quote-right" ng-class="textClass"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.
                            </p>
                        </div>
                    </div>
                    <div class="card-2 comment-card col-xs-12 margin-top-sm margin-left waves-attach waves-effect waves-ripple not-visible" when-visible="fadeInElement" ng-style="cardStyle">
                        <div class="col-xs-2 avatar-dev">
                            <span class="avatar avatar-inline avatar-lg">
                                <img class="img-responsive" alt="alt text" src="../images/users/avatar-001.jpg">
                            </span>
                        </div>
                        <div class="col-xs-7 comment-title">
                            <h4>Sara Del Rey <small ng-class="textClass"> Says:</small></h4>
                            <p class="margin-bottom comment-date">March 25, 2015 at 08.50 am</p>
                        </div>
                        <div class="col-xs-3">
                            <div class="margin-bottom pull-right">
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-reply"></i></a>
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-hand-o-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-12 margin-left margin-top">
                            <p class="comment">
                                <i class="fa fa-quote-right" ng-class="textClass"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.
                            </p>
                        </div>
                    </div>
                    <div class="card-2 comment-card col-xs-12 margin-top-sm margin-left-lg waves-attach waves-effect waves-ripple not-visible" when-visible="fadeInElement" ng-style="cardStyle">
                        <div class="col-xs-2 avatar-dev">
                            <span class="avatar avatar-inline avatar-lg">
                                <img class="img-responsive" alt="alt text" src="../images/users/avatar-001.jpg">
                            </span>
                        </div>
                        <div class="col-xs-7 comment-title">
                            <h4>james down <small ng-class="textClass"> Says:</small></h4>
                            <p class="margin-bottom comment-date">March 25, 2015 at 09.35 am</p>
                        </div>
                        <div class="col-xs-3">
                            <div class="margin-bottom pull-right">
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-reply"></i></a>
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-hand-o-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-12 margin-left margin-top">
                            <p class="comment">
                                <i class="fa fa-quote-right" ng-class="textClass"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.
                            </p>
                        </div>
                    </div>
                    <div class="card-2 comment-card col-xs-12 margin-top-sm waves-attach waves-effect waves-ripple not-visible" when-visible="fadeInElement" ng-style="cardStyle">
                        <div class="col-xs-2 avatar-dev">
                            <span class="avatar avatar-inline avatar-lg">
                                <img class="img-responsive" alt="alt text" src="../images/users/avatar-001.jpg">
                            </span>
                        </div>
                        <div class="col-xs-7 comment-title">
                            <h4>Polla <small ng-class="textClass"> Says:</small></h4>
                            <p class="margin-bottom comment-date">March 25, 2015 at 07.50 am</p>
                        </div>
                        <div class="col-xs-3">
                            <div class="margin-bottom pull-right">
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-reply"></i></a>
                                <a href="/#/SingleBlog" class="padding-10"> <i ng-class="textClass" class="fa  fa-lg margin-top-sm fa-hand-o-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-12 margin-left margin-top">
                            <p class="comment">
                                <i class="fa fa-quote-right" ng-class="textClass"></i>  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form class="form-horizontal text-left form">
                        <div class="form-group form-group-label form-group-lg not-visible" when-visible="fadeInElement" ng-class="formGroupClass">
                            <label class="floating-label" for="Comment">Comment</label>
                            <textarea class="form-control" name="Comment" type="text" ng-model="vm.comment" ng-required="true" id="Comment" rows="4"></textarea>
                        </div>

                        <button type="submit" ng-class="btnClass" class="btn pull-right btn-lg
                                 waves-ripple waves-attach waves-effect not-visible" when-visible="fadeInElement">
                            Leave Comment
                        </button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-4 margin-top" ng-class="cardClass">
            <div class="padding-40 not-visible" when-visible="lightSpeedInElement">
                <img alt="polla" src="././././images/users/hero.png" class="right-img">
            </div>
            <div class="not-visible" when-visible="lightSpeedInElement">
                <div class="padding-left-sm" ng-class="textClass" href="javascript:void(0)">
                    <strong class="name">Abdallah Khalil</strong>
                    <small class="padding-top-sm margin-no job">Creative web developer</small>
                </div>
            </div>
            <div class="margin-top-lg padding-10">
                <h3 class="border-top padding-top not-visible" when-visible="lightSpeedInElement">Quick links </h3>
                <ul class="nav">
                    <li class="tile transparent not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect    waves-ripple" href="javascript:void(0)">
                            Profile Settings
                            <span class="menu-collapse-toggle collapsed" data-target=".ui_menu_profile_settings" data-toggle="collapse">
                                <span class="menu-collapse-toggle-close">
                                    <i class="icon icon-lg">close</i>
                                </span>
                                <span class="menu-collapse-toggle-default">
                                    <i class="icon icon-lg">add</i>
                                </span>
                            </span>
                        </a>
                        <ul class="menu-collapse collapse ui_menu_profile_settings" id="">
                            <li class="tile padding-left-lg transparent">
                                <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">First Item</a>
                            </li>
                            <li class="tile padding-left-lg transparent">
                                <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Another Item</a>
                            </li>
                            <li class="tile padding-left-lg transparent">
                                <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Something Else</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tile transparent not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Upload Photo</a>
                    </li>
                    <li class="tile transparent not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Log in</a>
                    </li>
                </ul>
            </div>
            <div class="margin-top">
                <div class="padding-10">
                    <form class="form-horizontal text-left form" ng-submit="vm.sendMail();" name="vm.sendMailForm" novalidate="novalidate">
                        <h3 class="border-top padding-top-lg not-visible" when-visible="lightSpeedInElement">Contact Me</h3>
                        <div class="form-group form-group-label form-group-lg not-visible" when-visible="lightSpeedInElement" ng-class="formGroupClass">
                            <label class="floating-label" for="name">Name</label>
                            <input class="form-control" name="name" type="text" ng-model="vm.mail.name" ng-required="true">
                            <div class="form-help" ng-messages="vm.sendMailForm.name.$error" ng-if="vm.sendMailForm.name.$dirty">
                                <p class="text-brand-accent" ng-message="required">Please,enter subject</p>
                            </div>
                        </div>
                        <div class="form-group form-group-label form-group-lg not-visible" when-visible="lightSpeedInElement" ng-class="formGroupClass">
                            <label class="floating-label" for="email">Email</label>
                            <input class="form-control" name="email" type="text" ng-model="vm.mail.email" ng-required="true">
                            <div class="form-help" ng-messages="vm.sendMailForm.email.$error" ng-if="vm.sendMailForm.email.$dirty">
                                <p class="text-brand-accent" ng-message="required">Please,enter your email</p>
                            </div>
                        </div>
                        <div class="form-group form-group-label form-group-lg not-visible" when-visible="lightSpeedInElement" ng-class="formGroupClass">
                            <label class="floating-label" for="subject">Subject</label>
                            <input class="form-control" name="subject" type="text" ng-model="vm.mail.subject" ng-required="true">
                            <div class="form-help" ng-messages="vm.sendMailForm.subject.$error" ng-if="vm.sendMailForm.subject.$dirty">
                                <p class="text-brand-accent" ng-message="required">Please,enter subject</p>
                            </div>
                        </div>
                        <div class="form-group form-group-label form-group-lg not-visible" when-visible="lightSpeedInElement" ng-class="formGroupClass">
                            <label class="floating-label" for="message">Message</label>
                            <textarea class="form-control" name="message" type="text" ng-model="vm.mail.message" ng-required="true" id="message" rows="3"></textarea>
                            <div class="form-help" ng-messages="vm.sendMailForm.message.$error" ng-if="vm.sendMailForm.message.$dirty">
                                <p class="text-brand-accent" ng-message="required">Please,enter Message</p>
                            </div>
                        </div>

                        <button ng-disabled="vm.sendMailForm.$invalid" type="submit" class="btn pull-right btn-lg btn-default
                                 waves-ripple waves-attach waves-effect not-visible" when-visible="lightSpeedInElement">
                            Send
                            <i class="fa fa-send"></i>
                        </button>
                    </form>
                </div>

            </div>
            <div class="margin-top-lg transparent padding-10 not-visible" when-visible="lightSpeedInElement">
                <h3 class="border-top padding-top">Search ...</h3>
                <input class="form-control" ng-class="searchBoxClass" type="text" name="search" placeholder="Search Text" />
                <a class="margin-top-minus pull-right" href=""><i class="fa fa-search"></i></a>
            </div>

            <div class="margin-top padding-10 not-visible" when-visible="lightSpeedInElement">
                <h3 class="border-top padding-top">Tags </h3>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Creative</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Web Design</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Web Development</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Bootstrap</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">Material Design</a>
                <a class="btn margin-top waves-attach waves-effect  waves-ripple " href="#">New Themes</a>
            </div>
            <div class="margin-top-lg padding-10">
                <h3 class="border-top padding-top not-visible" when-visible="lightSpeedInElement">Recent posts </h3>
                <ul class="nav padding-10">
                    <li class="padding-10 border-top not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">How to start selling themes online</a>
                    </li>
                    <li class="padding-10 border-top not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">Envato: Can selling a WordPress theme on ThemeForest become your daily income</a>
                    </li>
                    <li class="padding-10 border-top not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">The Envato knowledgebase is pretty comprehensive and gives authors guidelines</a>
                    </li>
                    <li class="padding-10 border-top not-visible" when-visible="lightSpeedInElement">
                        <a class="waves-attach waves-effect waves-ripple  " href="javascript:void(0)">I assume you have the technical know-how to create templates and themes.  If not, then that's</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

