
<ul class="social">
    <li data-balloon="twitter" data-balloon-pos="up">
        <a socialshare socialshare-provider="twitter" socialshare-text="AngularJS & Material Design Portfolio Template "
           socialshare-hashtags="angularjs, angular-Portfolio ,angular-template,material design,bootstrap template" socialshare-url="http://abdallah-khalil.github.io">
            <i class="rsicon fa-twitter fa"></i>
        </a>
    </li>
    <li data-balloon="facebook" data-balloon-pos="up">
        <a socialshare="" socialshare-provider="facebook" socialshare-text="AngularJS & Material Design Portfolio Template "
           socialshare-url="http://abdallah-khalil.github.io">
            <i class="rsicon fa-facebook fa"></i>
        </a>
    </li>
    <li data-balloon="pinterest" data-balloon-pos="up">
        <a socialshare="" socialshare-provider="pinterest"
           socialshare-text="Woa!" socialshare-media="http://abdallah-khalil.github.io/images/logo-cap.png"
           socialshare-url="http://abdallah-khalil.github.io">
            <i class="rsicon fa-pinterest fa"></i>
        </a>
    </li>
    <li data-balloon="linkedin" data-balloon-pos="up">
        <a socialshare="" socialshare-provider="linkedin" socialshare-text="AngularJS & Material Design Portfolio Template"
           socialshare-url="http://abdallah-khalil.github.io"><i class="rsicon fa-linkedin fa"></i></a>
    </li>
    <li data-balloon="stumbleupon" data-balloon-pos="up">
        <a socialshare="" socialshare-provider="stumbleupon" socialshare-text="AngularJS & Material Design Portfolio Template"
           socialshare-url="http://abdallah-khalil.github.io"><i class="rsicon fa-stumbleupon fa"></i></a>
    </li>
    <li data-balloon="google plus" data-balloon-pos="up">
        <a socialshare="" socialshare-provider="google" socialshare-url="http://abdallah-khalil.github.io">
            <i class="rsicon fa-google-plus fa"></i>
        </a>
    </li>
    <li data-balloon="See More" data-balloon-pos="up">
        <a animated-modal options="options" href="#socialModal">
            <i class="rsicon fa-share-alt fa"></i>
        </a>
    </li>
</ul>



